<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <ul ngbNav class="nav-pills">
    <li ngbNavItem>
      <a ngbNavLink routerLink="/home" routerLinkActive="">Home</a>
    </li>

    <li ngbNavItem>
      <a ngbNavLink routerLink="/videos" routerLinkActive="">VideoList</a>
    </li>

    <li ngbNavItem>
      <a ngbNavLink routerLink="/basic" routerLinkActive="">Basic</a>
    </li>

    <li ngbNavItem>
      <a ngbNavLink routerLink="/addvideo" routerLinkActive="active">Add Video</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>